<table>
    <tr>
        <th><h4>Datos personales</h4></th>
    </tr>
    <ol>
        <li><b>Nombre completo:</b> Marvin Omar Cáceres Canales</li>
        <li><b>Apodo:</b> "Vin"</li>
        <li><b>Nacimiento:</b> 19 de agosto de 1991 (edad 30 años), Cantarranas, Francisco Morazan, Honduras</li>
        <li><b>Nacionalidad:</b> Hondureña</li>
        <li><b>Contacto:</b> +504 9517-6978</li>
        <li><b>Altura:</b> 1.68 m</li>
        <li><b>Peso:</b> 71.80 kg (158 lb)</li>
        
    </ol>
 </table>
